# Ensure that python is available
- name: "Deploy {{ environment_id }} Website"
  become: yes
  hosts: "{{ environment_id }}-website"
  vars_files:
    - "infra/{{ environment_id }}.yml"
    - "config/{{ environment_id }}.yml"
    - "secrets/{{ environment_id }}.yml"
  vars:
    docker_registry_project_user: "{{ secrets.gitlab.user }}"
    docker_registry_project_password: "{{ secrets.gitlab.password }}"
  tasks:
    - name: "Start Drupal container"
      docker_container:
        restart_policy: unless-stopped
        state: started
        pull: yes
        name: "drupal"
        image: "{{ project.images.website }}"
        ports:
          - 8080:80
        env:
          TZ: "Europe/Helsinki"
          MYSQL_HOST: "{{ infra.private_ip.website }}"
          MYSQL_PORT: "3306"
          MYSQL_USERNAME: "{{ secrets.website.mysql.username }}"
          MYSQL_PASSWORD: "{{ secrets.website.mysql.password }}"
          MYSQL_DATABASE: "{{ secrets.website.mysql.database }}"
          THEME_DEBUG: "0"
          SITE_HASH_SALT: "{{ secrets.website.drupal.hash_salt }}"
          BASE_URL: "{{ project.drupal.website.base_url }}"
          REDIS_CACHE: "0"
          MODE: "PROD"
          REVERSE_PROXY_ENABLED: "1"
        volumes:
          - "site-files:/var/www/web/sites/default/files"
  roles:
    - job-login-thp-docker-registry
